body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #006c67;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid beige;
    background-color: #f9f9f9;
    color: #32292f;
}

.logout-block{
    margin-left: auto;
    display:flex;
    align-items: center;
    align-content: center;
}

.logout-block p{
    display: flex;
    align-content: center;
    margin:0;
    margin-right: 2em;   
}

main{
    min-width: 960px;
    margin: 1em;
    background-color: #f9f9f9;
    padding: 2em;
    border-radius: 1em;
    color: #32292f;
}

.story-button-wrapper{
    display:flex;
}

ul{
    list-style: none;
}


.home-link:hover, .home-link:visited, .home-link{
    color:#32292f;
}
